{% extends 'base.html.twig' %}

{% block title %}nouveau projet{% endblock %}

{% block body %}
{# {% block header %}
{{ include('navbar/navbar.html.twig') }}
{% endblock  %} #}
<div class="container">
    <div class="mt-5">
    {{ include('projet/_form.html.twig') }}
    </div>
    <div class="my-5">
        <a href="{{ path('app_projet_index') }}">back to list</a>
    </div>

</div>


{# {% block footer %}
    {{ include('footer/footer.html.twig') }}
{% endblock  %} #}
{% endblock %}
